DATABASE_URL="postgresql://your_username:your_password@localhost:5432/your_database?schema=public"
PORT=3000
ESKIZ_PASSWORD=your_eskiz_password
ESKIZ_EMAIL=your_eskiz_email
ESKIZ_BASE_URL=your_eskiz_base_url
ACCESS_SECRET=jwt_access_secret
REFRESH_SECRET=jwt_refresh_secret
OTP_SECRET=your_otp_secret